:root {
    --gap: 1rem;
}

.receptare {
    background-color: yellowgreen;
    padding: var(--gap);

    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.knappar {
    display: grid;
    grid-template-columns: auto 14ch auto;
    align-items: center;
    justify-items: center;
    column-gap: var(--gap);

    width: max-content;

    /* border: 1px solid #000; */
}

.knappar > * {
    margin: 0;
}

.ingredienser {
    /* border: 1px solid #000; */
    margin: 0;
    padding-left: var(--gap);
}
